# Lesson 11: SQL Part 2 Studio

> This studio asks you to create queries using the functions from this lesson. As you work through the studio, you may need to create more than one query to return the desired answer.  For others, you may need to combine functions together in order to answer the original query.  The questions have been organized in a way to help you puzzle out the answers.
> 
> Happy querying! 

**The Dataset:**   

> We will be working with the **BooksDB dataset** from Lesson 10.  You should already have access to it.

## The Questions:

1.  Create a query that returns the longest title in the dataset.  We can do this in two steps.

> A. Create a query that returns the length of the longest title.
> 
> B. Create a query that uses the length you found in step A to find the longest title.

In [1]:
SELECT TOP 5
LEN (title) as 'length of title',
title
FROM books
ORDER BY [length of title] DESC

length of title,title
186,"Soccernomics: Why England Loses, Why Germany and Brazil Win, and Why the U.S., Japan, Australia, Turkey--and Even Iraq--Are Destined to Become the Kings of the World's Most Popular Sport"
174,"Bright Lights, Big Ass: A Self-Indulgent, Surly, Ex-Sorority Girl's Guide to Why It Often Sucks in the City, or Who Are These Idiots and Why Do They All Live Next Door to Me?"
167,The Unofficial Harry Potter Cookbook: From Cauldron Cakes to Knickerbocker Glory--More Than 150 Magical Recipes for Wizards and Non-Wizards Alike (Unofficial Cookbook)
165,"The Art Spirit: Notes, Articles, Fragments of Letters and Talks to Students, Bearing on the Concept and Technique of Picture Making, the Study of Art (Icon Editions)"
163,"Bitter Is the New Black: Confessions of a Condescending, Egomaniacal, Self-Centered Smartass, Or, Why You Should Never Carry A Prada Bag to the Unemployment Office"

2.  Use what you learned in question 1 to find the shortest author name.  

> A. Create a query that returns the length of the shortest author.
> 
> B. Create a query that returns the shortest author's name.

In [2]:
SELECT TOP 5
LEN (authors) as 'length of author',
authors
FROM books
ORDER BY [length of author] ASC

length of author,authors
3,Avi
3,Avi
4,Zane
5,Tijan
5,Tijan

3\. How many titles contain the word "The"?  

> A. Is there a difference between the number of titles that use "The" or "the"? No

In [9]:
SELECT 
COUNT (title) 
AS 'Number of books that contain The'
FROM books
WHERE
title LIKE '%The %' OR title LIKE '%the %'

Number of books that contain The
4506

4.  How many authors' names _start_ with 'Z'?

In [8]:
SELECT 
COUNT (authors)
AS 'Authors w Z names'
FROM books 
WHERE authors LIKE 'Z%'

Authors w Z names
11

5\. How many books have been identified as printed in a language other than English?  There are four language codes for English: 'en', 'eng', 'en-US', and 'en-UK'.  Use LEFT to answer the question.  (Do not use the wildcard)

You might want to use one of these [comparison operators](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/comparison-operators-transact-sql?view=sql-server-ver15).

In [7]:
SELECT 
COUNT(language_code)
FROM
    books
WHERE 
LEFT (language_code,2) != 'en'

(No column name)
186

6\. Retry question 5 using SUBSTRING.

In [6]:
SELECT 
COUNT(language_code)
FROM
    books
WHERE 
SUBSTRING (language_code,1,2) != 'en'

(No column name)
186

7.  Create a column that returns the title, authors, and language codes.  Concatenate these elements so that they return in the following way: title by authors in language\_code language.

> A.  Check each selected column to see where any values are NULL.  Did any of the columns contain NULL values?  If so, which one?

In [5]:
SELECT TOP 5
CONCAT (title,' by ',authors,' in ',language_code ) AS 'Book Listing'
FROM books
--WHERE title IS NULL OR authors IS NULL OR language_code IS NULL;

Book Listing
"The Hunger Games (The Hunger Games, #1) by Suzanne Collins in eng"
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling, Mary GrandPré in eng"
"Twilight (Twilight, #1) by Stephenie Meyer in en-US"
To Kill a Mockingbird by Harper Lee in eng
The Great Gatsby by F. Scott Fitzgerald in eng

8.  Update the query in question 7 using COALESCE to change the language code values from NULL to 'unknown'.

> A.  Has this changed the language\_code  where the values are NULL?

In [4]:
SELECT TOP 5
title +' by ' + authors +' in ' + COALESCE(language_code,'unknown') AS 'Book Listing_Updated'
FROM books
--WHERE language_code is NULL

Book Listing_Updated
"The Hunger Games (The Hunger Games, #1) by Suzanne Collins in eng"
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling, Mary GrandPré in eng"
"Twilight (Twilight, #1) by Stephenie Meyer in en-US"
To Kill a Mockingbird by Harper Lee in eng
The Great Gatsby by F. Scott Fitzgerald in eng

9\. Revisit question 7 using ISNULL instead of COALESCE.

> A.  Has this changed the language\_code  where the values are NULL?

In [3]:
SELECT TOP 5
title +' by ' + authors +' in ' + ISNULL(language_code,'unknown') AS 'Book Listing_Null'
FROM books
--WHERE language_code IS NULL;

Book Listing_Null
"The Hunger Games (The Hunger Games, #1) by Suzanne Collins in eng"
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling, Mary GrandPré in eng"
"Twilight (Twilight, #1) by Stephenie Meyer in en-US"
To Kill a Mockingbird by Harper Lee in eng
The Great Gatsby by F. Scott Fitzgerald in eng